@mixin buttonType($type:'confirm') {
    border-radius: 2px 2px 2px 2px;
    padding: 7px 40px;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    @if $type=='confirm' {
        background: rgba(0, 168, 150, 1);


        color: #ffffff;

    }

    @else if $type=='cancel' {
        background: rgba(244, 244, 244, 1);
        border: 1px solid rgba(238, 238, 238, 1);
    }

}
